.teapot, .coffee-maker, .espresso-machine{
	background: url(../images/slot1.png) no-repeat;
}

.tea-strainer, .coffee-filter, .espresso-tamper{
	background: url(../images/slot2.png) no-repeat;
}

.coffee-grounds, .loose-leaf, .ground-espresso-beans{
	background: url(../images/slot3.png) no-repeat;
}

.coffee-maker{
	background-position: -8px -13px ;
	width: 48px;
	height: 48px;
}

.teapot{
	background-position: -8px -124px ;
	width: 50px;
	height: 50px;
}

.espresso-machine{
	background-position: -9px -250px ;
	width: 48px;
	height: 48px;
}



.tea-strainer{
	background-position: -7px -128px ;
	width: 50px;
	height: 50px;
}

.coffee-filter{
	background-position: -9px -15px ;
	width: 48px;
	height: 48px;
}

.espresso-tamper{
	background-position: -4px -250px ;
	width: 50px;
	height: 50px;
}

.coffee-grounds{
	background-position: -9px -4px ;
	width: 50px;
	height: 50px;
}

.loose-leaf{
	background-position: -7px -117px ;
	width: 50px;
	height: 50px;
}

.ground-espresso-beans{
	background-position: -3px -250px ;
	width: 50px;
	height: 50px;
}

